.comment {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

.comment > img{
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox{
  flex:  1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button{
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  line-height: 0;
  border-radius: 2rem;
}

.commentContent header button:hover{
  color: var(--red-500)
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: var(--gray-400);
  display: flex;
  align-items: center;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

.commentBox footer button svg{
  margin-right: 0.75rem;
}

.commentBox footer button span::before{
  content: "\2022";
  padding: 0 0.25rem;
}